<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
     

<body>

    <%- include('../partials/header') %> 

    <!-- </header> -->

<main class="main-home">
<!----------- carrusel flor--------->
<div class="carrousel">
    <ul>
        <li><img src="/img/1.png" alt=""></li>
        <li><img src="/img/2.png" alt=""></li>
        <li><img src="/img/3.png" alt=""></li>
    </ul>
</div>


        <section class="last-visit">

            <div class="fotosabajoo">
            <marquee>
            <img src="img/amd.png" width="18%"style="margin-left:5% ;">   
            <img src="img/lenovo.png" width="20%" style="margin-left:5% ;"> 
            <img src="img/nvdia2.png" width="20%" style="margin-left:3% ;"> 
            <img src="img/hyper.png" width="15%" style="margin-left:5% ;"> 
            <img src="img/Redragon-Logo-PNG-Red.png" width="9%" style="margin-left:5%;"> 
            <img src="img/ryzen.png" width="12%" style="margin-left:5% ;"> 
            <img src="img/amd.png" width="18%"style="margin-left:5% ;">   
            <img src="img/lenovo.png" width="20%" style="margin-left:5% ;"> 
            <img src="img/nvdia2.png" width="20%" style="margin-left:3% ;"> 
            <img src="img/hyper.png" width="15%" style="margin-left:5% ;"> 
            <img src="img/Redragon-Logo-PNG-Red.png" width="9%" style="margin-left:5%;"> 
            <img src="img/ryzen.png" width="12%" style="margin-left:5% ;"> 
            <img src="img/amd.png" width="18%"style="margin-left:5% ;">   
            <img src="img/lenovo.png" width="20%" style="margin-left:5% ;"> 
            <img src="img/nvdia2.png" width="20%" style="margin-left:3% ;"> 
            <img src="img/hyper.png" width="15%" style="margin-left:5% ;"> 
            <img src="img/Redragon-Logo-PNG-Red.png" width="9%" style="margin-left:5%;"> 
            <img src="img/ryzen.png" width="12%" style="margin-left:5% ;"> 
            </marquee>

            </div>
            <br>
            <section class="banner">
                <img src="img/bannerAbajoo.png" alt="Banner" width='100%'>
            </section>
             
        </section>
    </main>

    <%- include('../partials/footer') %> 
    
</body>
</html>